<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="InsertionString" value="entities"/>
        <add key="DefaultInputFileName" value="input.vmf"/>
        <add key="DefaultOutputFileName" value="output.vmf"/>
        <add key="TemplateFileName" value="template.txt"/>
        <add key="UsagesFileName" value="usages.txt"/>
        <add key="CustomOutputPostfix" value="_zoo"/>
        <add key="LogsFileName" value="logs.txt"/>
    </appSettings>
</configuration>